body {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    color: var(--cor-texto-primario);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.side-bar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px; 
    height: 100vh; 
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: flex-start;
}
.side-bar-footer{
    margin-top: auto;
}
.side-bar-footer h3 {
    text-align: center;
    width: 100%;
}


.side-bar img {
    max-width: 100%; 
    border-radius: 100rem;
    height: auto;
}

.icones-footer {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.icones-footer img {
    width: 28px;
    height: 28px;
}
.copyright {
    margin-top: 20px; 
    font-size: 15px;
    text-align: center;
}
.conteudo {
  margin-left: 250px;
  padding: 20px;
}

.usuario-card {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
}

.card-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.usuario-nome {
  font-weight: 700;
  flex: 1;
  min-width: 120px;
}

.atividade-titulo {
  font-weight: 900;
  font-size: 1.1em;
  margin-top: -7px;
  flex: 1;
  text-align: center;
}

.data-hora {
  color: #666;
  font-size: 0.9em;
  white-space: nowrap;
  flex-shrink: 0;
}

.card-body {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-size: 0.9em;
  color: #444;
}

.info {
  text-align: center;
}

.valor {
  font-weight: 700;
  font-size: 1.1em;
}

.likes-comments {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  user-select: none;
}